
:root {
  --ifm-color-primary: #4e6bb0;
  --ifm-font-family-base: 'Segoe UI', sans-serif;
}

/* Change header background and text color */
.navbar {
  background-color: #1e2442 !important;
}

.navbar__link {
  color: white !important;
}

.navbar__link:hover {
  color: #cccccc !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

